
body {
    font-family: "Arial";
}

table {
    padding: 0px;
    border-spacing: 0px;
    border-width: 1px;
    border-color: #AAAAAA;
}


tr.header {
    color: white;
    background-color: #000055;
    font-size: 10pt;
    text-align: center;
}

tr.category {
    color: white;
    background-color: #4444DD;
    font-size: 10pt;
    text-align: center;
}

tr.subcategory {
    color: white;
    background-color: #3399FF;
    font-size: 10pt;
    text-align: center;
}

tr.requirement {
    color:black;
    font-size: 10pt;
}

td.criteria {
    font-size: 8pt;
}

td.category-name {
    text-align: left;
}

td.subcategory-name {
    text-align: left;
}


